{% extends 'main.html' %}

{% block content %}

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
          <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">FAVORITE PRODUCTS</h1>
          </div>
          <div class="col-lg-6 text-lg-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">favorite products</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <!-- FAV PRODUCTS TABLE-->
          <div class="table-responsive mb-4">
            <table class="table text-nowrap">
              <thead class="bg-light">
                <tr>
                  <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Product</strong></th>
                  <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Price</strong></th>
                  <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase"></strong></th>
                </tr>
              </thead>
              <tbody class="border-0">
                
                {% for item in fav_products.get_items %}
                <tr>
                  <th class="ps-0 py-3 border-light" scope="row">
                    <div class="d-flex align-items-center"><a class="reset-anchor d-block animsition-link" href=""><img src="{{ item.product.main_image.url }}" alt="..." width="70"/></a>
                      <div class="ms-3"><strong class="h6"><a class="reset-anchor animsition-link" href="">{{ item.product.title }}</a></strong></div>
                    </div>
                  </th>
                  <td class="p-3 align-middle border-light">
                    <p class="mb-0 small">${{ item.product.price }}</p>
                  </td>
                  
                  <td class="p-3 align-middle border-light"><a class="reset-anchor" href="{% url 'delete_from_fav' item.id %}"><i class="fas fa-trash-alt small text-muted"></i></a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
          <!-- CART NAV-->
          <div class="bg-light px-4 py-3">
            <div class="row align-items-center text-center">
              <div class="col-md-6 mb-3 mb-md-0 text-md-start"><a class="btn btn-link p-0 text-dark btn-sm" href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a></div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
</div>

{% endblock%}