{% extends 'main_2.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mb-4" id="forms">
                <div class="card-body">


                <h4 class="mb-5"></h4>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    </div>

                    {% endfor %}

                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.as_p }}
                    {% endfor %}

                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>


                </div>
            </div>
        </div>
    </div>
    </div>
    
{% endblock content %}