{% load static %}

<div class="col-lg-3 order-2 order-lg-1">
                <h5 class="text-uppercase mb-4">Categories</h5>

                  {% for p_category in categories %}

                      {% if p_category == category %}

                      <div class="py-2 px-4 bg-dark text-white mb-3">
                          <a href="{% url 'products_in_category' p_category.id %}" class="text-decoration-none text-light">
                              <strong class="small text-uppercase fw-bold">{{ p_category.name }}</strong>
                          </a>
                      </div>

                      {% else %}

                      <div class="py-2 px-4 bg-light mb-3">
                          <a href="{% url 'products_in_category' p_category.id %}" class="text-decoration-none text-dark">
                              <strong class="small text-uppercase fw-bold">{{ p_category.name }}</strong>
                          </a>
                      </div>

                      {% endif %}

                      <ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal">

                      {% for subcategory in p_category.subcategory_set.all %}
                          <li class="mb-2"><a class="reset-anchor" href="{% url 'products_in_subcategory' subcategory.id %}">{{ subcategory.name }}</a></li>
                      {% endfor %}

                      </ul>

                  {% endfor  %}

                <!-- PRICE RANGE -->      
                <h6 class="text-uppercase mb-4">Price range</h6>
                <div class="price-range pt-4 mb-5">
                  <div id="range"></div>
                  <div class="row pt-2">
                    <div class="col-6"><strong class="small fw-bold text-uppercase">From</strong></div>
                    <div class="col-6 text-end"><strong class="small fw-bold text-uppercase">To</strong></div>
                  </div>
                </div>

              </div>

<!-- JavaScript files-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
<!-- Nouislider Config-->
<script>
  var range = document.getElementById('range');
  noUiSlider.create(range, {
      range: {
          'min': parseInt({{ min_max_price.price__min }}),
          'max': parseInt({{ min_max_price.price__max }})
      },
      step: 10,
      start: [parseInt({{ min_max_price.price__min }}), parseInt({{ min_max_price.price__max }})],
      margin: 100,
      connect: true,
      direction: 'ltr',
      orientation: 'horizontal',
      behaviour: 'tap-drag',
      tooltips: true,
      format: {
        to: function ( value ) {
          return '$' + Math.round(value);
        },
        from: function ( value ) {
          return value.replace('', '');
        }
      }
  });

  range.noUiSlider.on('update', function (values, handle) {
    var minPrice = parseInt(values[0].replace('$', ''));
    var maxPrice = parseInt(values[1].replace('$', ''));
    filterProducts(minPrice, maxPrice);
  });

  function filterProducts(minPrice, maxPrice) {
    var products = document.querySelectorAll('.product');
    products.forEach(function(product) {
        var price = parseInt(product.getAttribute('data-price'));
        if (price >= minPrice && price <= maxPrice) {
            product.parentElement.style.display = 'block'; // Показываем товар
        } else {
            product.parentElement.style.display = 'none'; // Скрываем товар
        }
    });
  }
  
</script>